// IMPORT PARTIALS
@import 'partials/setup';
@import 'partials/utils';
// GENERAL STYLES
html {
    font-size: 62.5%;
    background: #feda44;
}
body, p, h1, h2 {
   margin: 0;
   padding: 0;
}
img {
   max-width: 100%;
}
h2 {
    color: seashell;
    font-family: $font-comic;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 3px;
    padding: 2% 0 35%;
}
.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
// HEADER STYLES BEGINS
header {
    height: 100vh;
    background: url(../../assets/deadpool.jpg) bottom no-repeat;
    background-size: cover;
    @include breakPoint(break2){
        background: url(../../assets/deadpool-responsive.jpg) center no-repeat;
    }
    h1.welcome {
    font-size: 60px;
    font-family: $font-comic;
    letter-spacing: 5px;
    text-align: center;
    margin: 0;
    text-shadow: 2px 2px 3px white;
    @include breakPoint(break5){
        display:none;
    }
    }
}
input[type=submit] {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 20%;
    border: 2px solid white;
    border-radius: 10px;
    background: black;
    color: white;
    font-family: $font-comic;
    font-size: 2rem;
    letter-spacing: 3px;
    &:hover {
        background: tomato;
    }
}
.speech-bubble {
    position: relative;
    top: -5%;
    right: 1%;
	background: #fafff9;
    border-radius: 3rem;
    width: 60%;
    font-family: $font-comic;
    font-size: 2rem;
    letter-spacing: 1.2px;
    word-spacing: 1.3px;
    padding: 1rem;
    border: black solid 5px;
    @include breakPoint(break2){
        font-size: 1.5rem;
    }
    @include breakPoint(break5){
        width: 88%;
        right: 0;
    }
    @include breakPoint(break6){
        right: 1%;
        width: 95%;
        font-size: 1.3rem;
        top: 0;
    }


}
 .speech-bubble:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 90%;
        width: 0;
        height: 0;
        border: 33px solid transparent;
        border-top-color: black;
        border-bottom: 0;
        border-right: 0;
        margin-left: -16.5px;
        margin-bottom: -33px;
    }

.speechListContainer {
    .secondaryForm {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        .speechContainer {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-start;
            line-height: 0.8;
            padding: 0;
            .speechList1 {
                width: 100%;
                display: flex;
                flex-direction: column;
                border: none;
                .speechText1 {
                    color: tomato;
                    width: 100%;
                }
            }
            .speechList2 {
                width: 100%;
                display: flex;
                flex-direction: column;
                border:none;
                .speechText2 {
                    color: tomato;
                }
            }
            .secondbutton {
                width: 100%;
                .displayButton {
                    margin: 0;
                    width: 100%;
                }
            }
        }
        input[type=submit].displayButton {
            display: block;
            width: 80%;
            background: tomato;
            &:hover {
                background: #feda44;
                border: solid 2px black;
                color: black;
            }
            @include breakPoint(break4){
                width: 90%;
            }
            @include breakPoint(break6){
                width: 95%;
            }
        }
    }
}
.speechText1, .speechText2 {
    color: tomato;
    text-shadow: 1px 1px 1px black;
}
.secondbutton {
    width: 100%;
}
.searchHero {
    text-align: center;
    width: 100%;
    input[type=search] {
        padding: 15px;
        width: 20%;
        border-radius: 5px;
        font-size: 2rem;
        border: black solid 2px;
        margin: 1rem 0;
        box-shadow: 5px 5px 5px gray;
        @include breakPoint(break2){
            width: 80%;
        }  
        @include breakPoint(break5){
            margin: 0.5rem;
        } 
        @include breakPoint(break6){
            font-size: 1.4rem;
            margin: 0.2rem;
            padding: 1rem;
        }
    }
    input[type=submit] {
        @include breakPoint(break6){
            width: 40%;
        }
    }
}
// HEADER STYLES ENDS
// STAT CONTAINER STYLES BEGINS
.statContainer {
   display: flex;
   justify-content: space-between;
   flex-direction: row;
//    height: 100vh;
   @include breakPoint(break6){
       flex-direction: column;
   }
   .stats1, .stats2 {
      width: 50%;
      border: 5px solid white;
      @include breakPoint(break6){
          width: 100%;
          height: 100vh;
      }
      #myChart1, #myChart2 {
          padding: 0 4rem;
          @include breakPoint(break6){
              width: 80%;
          }
      }
   }
}
// STAT CONTAINER STYLES END
// HERO RESULTS MESSAGE STYLES BEGINS
.heroResults {
    background: #fae16c;
    width:100%;
    // padding: 2rem 0;
    .resultsText {
        font-size: 4rem;
        font-family: $font-comic;
        color: white;
        text-shadow: 1px 1px 1px black;
        width: 100%;
        text-align: center;
        letter-spacing: 2px;
        @include breakPoint(break5){
            font-size: 3rem;
        }

    }
}
// HERO RESULTS MESSAGE STYLES ENDS

// hiding the radio button
input[type = radio] {
    visibility:hidden;
}
label {
    cursor: pointer;
    &:hover {
        background: tomato;
    }
}
input:checked + label {
    background: #fae16c;
}

