@import 'partials/setup';
@import 'partials/utils';

html {
    font-size: 62.5%;
}
body {
   margin: 0;
   padding: 0;
}

header {
    height: 100vh;
    background: url(../../assets/deadpool.jpg) bottom no-repeat;
    background-size: cover;
}
input[type=submit] {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    border: 2px solid white;
    border-radius: 10px;
    background: black;
    color: white;
    font-family: $font-comic;
    font-size: 2rem;
    letter-spacing: 3px;
}
.speech-bubble {
    position: relative;
    top: 0;
    right: 5%;
	background: #fafff9;
    border-radius: 3rem;
    width: 60%;
    font-family: $font-comic;
    font-size: 2rem;
    letter-spacing: 1.2px;
    word-spacing: 1.3px;
    padding: 1rem;
    border: black solid 5px;

}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 95%;
	width: 0;
	height: 0;
	border: 33px solid transparent;
	border-top-color: black;
	border-bottom: 0;
	border-right: 0;
	margin-left: -16.5px;
	margin-bottom: -33px;
}
.speechListContainer {
    // display: flex;
    // justify-content: space-around;
    // align-items:center;
    // flex-direction: row;
    .secondaryForm {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        .speechContainer {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: flex-start;
            .speechList1 {
                width: 50%;
                display: flex;
                flex-direction: column;
                border: none;
            }
            .speechList2 {
                width: 50%;
                display: flex;
                flex-direction: column;
                border:none;
            }
        }
        input[type=submit].displayButton {
            display: block;
            width: 80%;
            background: tomato;
            &:hover {
                background: #fae126;
                border: solid 2px black;
                color: black;
            }

        }
    }
}

section {
    height: 100vh;
}
h2 {
    color: seashell;
    font-family: $font-comic;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 3px;
    padding: 2% 0 35%;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchHero {
    text-align: center;
    width: 100%;
}

input[type=search] {
    padding: 15px;
    width: 20%;
    border-radius: 5px;
    font-size: 2rem;
    border: black solid 2px;
    margin: 20px 0;
    box-shadow: 5px 5px 5px gray;
}

h1 {
   font-size: 60px;
   font-family: $font-comic;
   letter-spacing: 5px;
   text-align: center;
   margin: 0;
}

img {
   max-width: 100%;
}
.statContainer {
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   height: 100vh;
   .stats1 {
      width: 50%;
      border: 5px solid white;
      #myChart1 {
          padding: 0 5rem;
      }
   }
   .stats2 {
      width: 50%;
      border: 5px solid white;
     #myChart2 {
          padding: 0 5rem;
      }
   }
}

// hiding the radio button
input[type = radio] {
    visibility:hidden;
}
label {
    cursor: pointer;
    &:hover {
        background: tomato;
    }
}
input:checked + label {
    background: #fae16c;
}