// font-family: 'Bangers', cursive;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Coming Soon', cursive;

// VARIABLES

$font-comic: 'Bangers', cursive;
$font-main: 'Open Sans', sans-serif;
$font-writing: 'Coming Soon', cursive;